body {
    margin: 0;
    background-color: #D6D6D6;
}


/* Header */

header {
    position: relative;
    width: 100%;
    height: 100px;
}

.header-bg {
    position: fixed;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(rgba(255,220,60,1), rgba(255,220,60,0));
}

.name {
    margin: 20px 10px 20px 10px;
    position: absolute;
    font-family: Karla, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

ul {
    margin: 20px 10px 20px 10px;
    padding: 0;
    list-style-type: none;
    float: right;
    position: relative;
}

li {
    display: inline-block;
    margin: 0 20px 0 0;
    font-family: Karla, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

li:hover {
    color: blue;
    font-weight: 700;
}

/* Landing Div */

.landing-div {
    margin: auto;
    width: 600px;
    height: 350px;
}

.landing-div h1 {
    margin: auto;
    font-family: Red Rose, sans-serif;
    font-size: 60px;
    text-align: center;
    line-height: 50px;
}

.landing-div p {
    margin: auto;
    padding: 25px 0;
    width: 300px;
    font-family: Source Sans Pro, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #5C5C5C;
}

/* Work */

.work {
    margin: auto;
    width: 1000px;
    display: flex;
}

.design {
    margin: 0 25px;
    width: 200px;
    height: 150px;
    background-color: #FFDC3C;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    box-shadow: 20px 20px #000000;
}

.science {
    margin: 0 25px;
    width: 200px;
    height: 150px;
    background-color: #F14A41;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    box-shadow: 20px 20px #000000;
}

.tech {
    margin: 0 25px;
    width: 200px;
    height: 150px;
    background-color: #3CC88B;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    box-shadow: 20px 20px #000000;
}

.communities {
    margin: 0 25px;
    width: 200px;
    height: 150px;
    background-color: #2BB4DE;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    box-shadow: 20px 20px #000000;
}

.work h2 {
    margin: auto;
    padding: 15px;;
    font-family: Karla, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.work p {
    margin: auto;
    padding: 0px 15px;
    width: 150px;
    float: left;
    font-family: Source Sans Pro, sans-serif;
    font-size: 14px;
    color: ##000000;
}

/* Responsive Design 

@media screen and (max-width:650px) {
    header ul{
        display: none;
    }
}

*/