body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    background-color: #D6D6D6;
}


/* Header */

header {
    position: relative;
    width: 100%;
    height: 100px;
}

.header-bg {
    position: fixed;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(rgba(255,220,60,1), rgba(255,220,60,0));
}

.name {
    margin: 20px 10px 20px 10px;
    position: absolute;
    font-family: Karla, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

ul {
    margin: 20px 10px 20px 10px;
    padding: 0;
    list-style-type: none;
    float: right;
    position: relative;
}

li {
    display: inline-block;
    margin: 0 20px 0 0;
    font-family: Karla, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

li:hover {
    color: blue;
    font-weight: 700;
}

/* Section One */

.landing-div h1 {
    margin: auto;
    width: 600px;
    font-family: Red Rose, sans-serif;
    font-size: 60px;
    text-align: center;
}

/* Responsive Design 

@media screen and (max-width:650px) {
    header ul{
        display: none;
    }
}

*/